# Reverb WebSocket Configuration
REVERB_APP_ID=sports_app
REVERB_APP_KEY=bts_guru_app_key
REVERB_APP_SECRET=bts_guru_app_secret
# Change this to the Docker service name instead of 127.0.0.1
REVERB_HOST=0.0.0.0
REVERB_PORT=8080
REVERB_SCHEME=http
REVERB_SERVER_HOST=0.0.0.0
